# 'development' or 'production'
NODE_ENV=development

# Url where the application is deployed
HOST_DOMAIN=https://example.com

# TCP Port used to serve the application
PORT=443

# These variables are optional, used only in docker env
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
MONGO_INITDB_DATABASE=database_name

# Database Connection String
# Replace the following:
# - `user` and `password` with your authentication
# - mongodb_host` with your database server host/ip
# - `database_name` with your database name
# Note: Use `?authSource=admin` to specify the database name used for authentication (this is required in docker)
DATABASE_URL=mongodb://user:pass@mongodb_host:port/database_name?authSource=admin


# JWT auth uses asymmetric authentication scheme, so we need to have piublic/private key pair
# You can generate sample keys using utils/generateJwtKeys.ts
# type `ts-node utils/generateJwtKeys.ts` to run

# These variables contains the relative path to the keys,
# which will be automatically read and in runtime into JWT_PRIVATE_KEY, JWT_PUBLIC_KEY respectively
JWT_PRIVATE_KEY_PATH=jwt_keys/private.pem
JWT_PUBLIC_KEY_PATH=jwt_keys/public.pem
JWT_EXPIRATION_TIME=1h
JWT_ALGORITHM=RS256

# Email Configuration
SMTP_SERVER=smtp.example.com
SMTP_SERVER_PORT=465
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_FLAG_SECURE=true

