
# Database Connection String
DATABASE_URL=mongodb://user:pass@mongodb_host:port/database_name


# JWT auth uses asymmetric authentication scheme, so we need to have piublic/private key pair
# You can generate sample keys using utils/generateJwtKeys.ts
# type `ts-node utils/generateJwtKeys.ts` to run

# These variables contains the relative path to the keys,
# which will be automatically read and in runtime into JWT_PRIVATE_KEY, JWT_PUBLIC_KEY respectively
JWT_PRIVATE_KEY_PATH=jwt_keys/private.pem
JWT_PUBLIC_KEY_PATH=jwt_keys/public.pem
JWT_EXPIRATION_TIME=1h
JWT_ALGORITHM=RS256

# Email Configuration
SMTP_SERVER=smtp.example.com
SMTP_SERVER_PORT=465
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_FLAG_SECURE=true

